temp/
cache/
tmp/
target/
.settings/

.classpath
.idea
.project
.cache
.metadata
.DS_store
config.ini
log.txt
dependency-reduced-pom.xml
HearthStats.exe

*~
*.iml

*.sw?
*.orig

*.releaseBackup
release.properties
