/.classpath
/.idea
/.project
/.settings
/bin

/log.txt

/build
/temp
/tmp
/out
/opponentname.jpg
/log.txt
.settings/org.eclipse.core.resources.prefs
/config.ini
/HearthStatsUploader.jar
/*.iml
