<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<!-- Outputs logs to the standard console -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%thread] %d{HH:mm:ss.SSS} %-5level %20.20logger{20} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="TRACE">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>