body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
}

hr {
    height: 2px;
    color: #b9b9b9;
    background: #b9b9b9;
    border: 0;
    margin: 0 0;
}

h1, h2, p {
    margin-left: 10px;
    margin-right: 10px;
}

li {
    list-style-type: circle;
}