body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
}

hr {
    height: 2px;
    color: #b9b9b9;
    background: #b9b9b9;
    border: 0;
    margin: 0 0;
}

.log, .break, .help, .warn, .error {
    margin-left: 10px;
}

.welcome {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0 0 10px;
    margin: 0;
    color: #444444;
}

.warn, .error {
    color: #cc0c30;
}

.match {
    color: #000000;
    background: #f8f8f8;
    margin: 0 5px;
    padding: 5px;
}